.item{
border :  black solid 1px;
}

.itembutton {
  float:right;
}

.buybutton {
  float:right;
}

#shoppinglist{
  width:150px;
  height:40px;
  color: white;
  margin-top:  20px;
  margin-left: 10px;
  background-color: #4db564;
  position: absolute;
}

#shoppinglisttext{
padding-left: 10px;
padding-top:  10px;

}

#addproduct{
  width:150px;
  height:40px;
  color: white;
  margin-top:  20px;
  margin-left: 170px;
  background-color: #ff5050;
  position: absolute;

}

#addproducttext{
padding-left: 10px;
padding-top:  10px;

}


#productcontainer{
  margin-top: 60px;
  width:900px;
  float:left;
}

#searchbox{
  margin-top: 100px;
  margin-left: 1000px;
  position: absolute;;
}

.list-group{
  color:red;
  width:300px;
}

#searchinput{
margin-left: 80px;
margin-bottom: 20px;
}
